#big-head{
    color: black;
    text-align: center;
    margin: 10px 10px;
}

body{
    background-color: rgba(239, 233, 233, 0.918);
   
}

h1{
    background-color: black;
    color: white;
    text-transform: capitalize;
    text-align: center;
    height: 60px;
    padding: 10px;
}




table{
   height: 100%;
   position: absolute;
   top: 200px;
   border: 2px solid black;
   display: block;

   border:  2px solid black;
}

table  tr th{
    background-color:green;
    color: white;
    height: 40px;
    width: 346px;
    font-size: 30px;
}

table tbody tr {
    font-size: 20px;
    text-align: center ;
    
    font-weight: bold;
}
