*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: rgba(239, 233, 233, 0.918);
   
}

h1{
    background-color: black;
    color: white;
    text-transform: capitalize;
    text-align: center;
    height: 60px;
    padding: 10px;
}

a img{
    height: 40px;
    width: 40px;
    margin: 2px 2px;
    border-radius: 50%;
    margin: 8px 8px;
}


table{
   width: 700px ;
   height: 100%;
   border: 2px solid black;
   display: block;
   margin: auto;
}

table  tr th{
    background-color:green;
    color: white;
    height: 40px;
    width: 346px;
    font-size: 30px;
}

table tbody tr {
    font-size: 20px;
    text-align: center ;
    
    font-weight: bold;
}

div  a{
    /* border: 2px solid brown; */
    width: 150px;
    height: 35px;
    font-size: 23px;
    background-color: green;
    display: block;
    align-items: center;
    margin:50px  auto;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 2px 2px ;
    border-radius: 4px;

}