




.trending{
    display: block;
    width: 50%;
}
.trending p{
  color: black;
  position: relative;
  left: 39px;
  font-size: 27px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.slide-container{
    position: relative;
    width: 95%;
    height: 450px;
    border: 3px solid #ede6d6;
    margin: auto;
    border-radius: 7px;
}

.slide-container .slides{
    width: 100%;
    height:100%;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    opacity: 1;
}

.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}

.button .next,.button .pre{
    position: absolute;
    padding: 14px;
    top: 195px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    display: block;
    width: 40px;
    color: white;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

.button .pre{
     right: 20px; 
}
.button .next{
    left: 20px; 
}



@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}

@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes pre1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

@keyframes pre2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}





.title{
    color: black;
    opacity: 0.9;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top:20px; 
}
.movie-list{
    width: 100%;
    position: relative;
   
}

.card-container{
    position: relative;
    top: 0px;
    width: 100%;
    padding-left:10px ;
    height: 350px;
    display: flex;
    margin: 30px auto;
    align-items:center;
    overflow-x:auto;
    
    scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar{
    display: none;

}

.card{
    position: relative;
    min-width: 350px;
    width: 150px;
    height: 331px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    transition: 0.5s;
    border: 1px solid black;
    background-color: white;
}

.card:hover{
    background: linear-gradient(to bottom ,rgba(4,8,15,0),#9aa0af 90%);
    
}

.card .card-img{
height: 193px;
width: 260px;
display: block;
margin: 10px auto;
}

.pre-btn ,.nxt-btn{
    position: absolute;
    top: 0;
    width: 1%;
    height: 157%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
    }

    .pre-btn{
        left: 0;
        background: linear-gradient(to right,#0c111b,#0c111b00);
    }
    .nxt-btn{
        left: 0;
        background: linear-gradient(to left,#0c111b,#0c111b00);
    }

    .pre-btn img,.nxt-btn img{
        width: 15px;
        height: 20px;
        opacity: 0;
        }
        .pre-btn img:hover,
        .nxt-btn img:hover{
            opacity: 1;
        }

    .card-body{
        width:300px ;
        height: 120px;
        
        border-radius: 6px;
        display: block;
        margin: auto;
    }
        
.name{
    color: black;
    font-weight: 15px;
    font-size: 25px;
    margin-top: 3px;
    text-align: center;
    text-transform: capitalize;
}
.des{
    color:black;
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
    font-size: 17px;  
    
}

 .cart{
    width: 22px;
    height: 30px;
     
     position: absolute;
     top: 300px;
     left: 286px;

}

.price{
    color: black;
    position: absolute;
    top: 300px;
    left: 30px;

}

 .submit-btn{
 position: relative;;
 width: 160px;
 height: 33px;
 bottom: 10px;
 left: 676px;
 background-color: white;
 border: 1px solid black;
 font-size: 18px;
 text-transform: capitalize;
 cursor: pointer;
 color: black;
 font-weight: bold;
 box-sizing: border-box;

}

.submit-btn:hover{
    background-color: black;
    border:1px solid white;
    color: white;

}



#header{
    width: 100%;
    height: 400px;
    background-color: black;
    position: relative;
    bottom: 0px;
    left: 0px;
    scroll-behavior: smooth;
    transition: 2s;
    
}

.cap-container{
    display: flex;
    justify-content: center;
    
    text-decoration: underline;
    
}

.cap-container .caption{
    color: white;
    margin: 19px 100px;
}

.cap-container .caption div{
    
    margin: 30px;
    text-decoration: underline;

}

#header .us h1{
    /* position: absolute; */
    color: white;
    text-align: center;
    /* display: block; */

    
}

#header .icons{
    display: flex;
    justify-content: center;
}

#header .icons img {
    height: 30px;
    color: white;
    margin: 10px 20px;
}

#header .icons #odd-icon{
    height: 45px;
    margin:2px 10px ;
}

.account h3{
    color: white;
    text-align: center;
    text-decoration: dotted;
   


}