*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    
    background-color: rgba(239, 233, 233, 0.918);
    color: black;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

html{
    scroll-behavior: smooth;
}

.top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    
}
.logo{
    margin: 6px 2px;
}

.logo img{
    height: 70px;
    margin: 3px 2px;
}




.navbar ul{
     position: absolute;
    top: 14px; 
    left: 185px;
    display: flex;
    flex-direction: row;
}
    
.navbar ul li{
    margin: 25px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    
}

.navbar ul li a:hover{
    border-bottom: 2px solid red;
    color: wheat;
}

 .navbar ul li a:focus{
    color: bisque;
    border-bottom: 1px solid white;
} 

.right-con{

    position: absolute;
    top: 40px;
    right: 200px;
   
    
}

.right-con input{
 position: relative;
 right: 53px;
 background-color: transparent;
 border: none;
 border-bottom: 1px solid white;
 width: 300px;
 text-transform: capitalize;
 outline: none;
 font-size: 1.1rem;
 font-weight: bold;
 cursor: pointer;
 transition: 0.5s;
}

.right-con input:hover{

    border-bottom: 1px solid white;
    width: 400px;
}

.right-con input:focus{

    width: 400px;
}

.right-con .login-box{

    position: absolute;
    display: block;
    top: -9px;
    right: -130px;
    width: 110px;
    height: 34px;
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 28px;
    color: white;
    cursor: pointer;
    background-color:rgb(255, 0, 144) ;
}

.right-con .login-box:hover{
    background-color: rgb(145, 53, 104);
}